// Inbox Component Styles
:host {
  display: block;
  height: 100%;
}

.inbox-content {
  @apply flex h-full gap-4 p-4;

  .inbox-navigation {
    @apply xl:w-80 bg-white border-[0.1px] border-[#b9b9b95b] rounded-[14px] p-6 max-w-[286px];
  }

  .inbox-messages {
    @apply flex-1 bg-white border border-gray-300 rounded-xl py-6;
  }
}

@media only screen and (max-width: 1280px) {
  .inbox-navigation {
    @apply absolute z-10 w-auto;
  }

  .inbox-messages {
    @apply ml-28;
  }
}

/* Hide default checkbox */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

/* Style when checked */
input[type="checkbox"]:checked {
  border-color: #000000;
  background-color: #000000;
}

/* Add custom checkmark */
input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.active {
  filter: brightness(0) saturate(100%) invert(46%) sepia(60%) saturate(2028%) hue-rotate(205deg) brightness(95%) contrast(121%);
}