/* Products page styles - can be customized as needed */
.title h1 {
  color: #202224;
}

.product-hero {
  @apply w-full;
  ::ng-deep {
    .slides-overflow {
      @apply rounded-[14px];
    }
  }
}