.order-container {
    @apply space-y-6 px-4 lg:px-0;

    .title-page{
        @apply text-[32px] font-semibold text-center lg:text-left mb-6;

        @media (max-width: 640px) {
            @apply text-[24px] mb-4;
        }
    }

    .pagination-wrapper {
        @apply px-6 w-full;

        @media (max-width: 768px) {
            @apply justify-center;
        }
    }
}