<div class="order-container">
  <!-- Page Title -->
  <div class="title-page">
    <h1>Order Lists</h1>
  </div>

  <section class="section-filter">
    <div class="item-filter">
        <img src="/assets/icons/filter.svg" alt="filter" class="w-[24px]">
    </div>
    <div class="item-filter">Filter By</div>
    <div class="item-filter">
        <div class="mr-5"> Date </div>
        <img src="/assets/icons/chevronDown.svg" alt="down" class="w-[24px]">
    </div>
    <div class="item-filter">
        <div class="mr-5"> Order Type </div>
        <img src="/assets/icons/chevronDown.svg" alt="down" class="w-[24px]">
    </div>
    <div class="item-filter">
        <div class="mr-5"> Order Status </div>
        <img src="/assets/icons/chevronDown.svg" alt="down" class="w-[24px]">
    </div>
    <div class="item-filter">
        <img src="/assets/icons/replay-red.svg" alt="replay" class="w-[20px] mr-2">
        <div class="text-[#EA0234]"> Reset Filter </div>
    </div>
  </section>

  <section class="section-table">
    
  </section>

  
</div>