.order-container {
    @apply space-y-6;

    .title-page{
        @apply text-[32px] font-semibold;
    }

    .section-filter{
        @apply flex bg-white w-fit border border-[#97979734] rounded-[10px] shadow-sm;

        .item-filter{
            @apply py-4 px-6 border-r border-[#97979734] text-[14px] font-bold flex justify-center items-center cursor-pointer;
        }
    }

    .section-table{
        .table-container {
            @apply bg-white rounded-[10px] shadow overflow-hidden;
        }

        .order-table {
            @apply w-full border-collapse;

            thead {
                @apply bg-gray-50 border-b border-gray-200;

                th {
                    @apply px-6 py-4 text-left text-[14px] font-extrabold text-[#202224] px-[30px];
                }
            }

            tbody {
                tr {
                    @apply border-b border-gray-100 hover:bg-gray-50 transition-colors;

                    &:last-child {
                        @apply border-b-0;
                    }

                    td {
                        @apply px-6 py-4 text-[14px] text-gray-900 px-[30px];
                    }
                }
            }
        }

        .status-badge {
            @apply px-3 py-2 text-[12px] font-medium rounded-[4.5px] w-full text-center block;

            &.status-complete {
                @apply bg-green-100 text-green-800;
            }

            &.status-processing {
                @apply bg-blue-100 text-blue-800;
            }

            &.status-rejected {
                @apply bg-red-100 text-red-800;
            }

            &.status-on-hold {
                @apply bg-yellow-100 text-yellow-800;
            }

            &.status-in-transit {
                @apply bg-purple-100 text-purple-800;
            }
        }
    }
}