<div class="order-container">
  <!-- Page Title -->
  <div class="title-page">
    <h1>Order Lists</h1>
  </div>

  <!-- Orders Filter Component -->
  <app-orders-filter
    [initialDate]="initialDate"
    [availableOrderStatuses]="availableOrderStatuses"
    [availableOrderTypes]="availableOrderTypes"
    [appliedDates]="appliedDates"
    [appliedOrderStatuses]="appliedOrderStatuses"
    [appliedOrderTypes]="appliedOrderTypes"
    (filterChanged)="onFilterChanged($event)">
  </app-orders-filter>

  <section class="section-table">
    <app-orders-table [data]="orderData" [tableHeaders]="tableHeaders"></app-orders-table>
  </section>

  <!-- Pagination -->
  @if (totalItems > itemsPerPage) {
    <div class="pagination-wrapper">
      <app-pagination
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        [totalItems]="totalItems"
        (pageChanged)="onPageChanged($event)">
      </app-pagination>
    </div>
  }

</div>